@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body.practice, body.progress {background-color: #FFF; color: #4A4A4A; font-family: 'Roboto', sans-serif; 
	width:1024px;  position:relative;margin-right: 0;height:554px; overflow:none;}
body.practice {position: inherit}
body.practice .content, body.practice.learn	.content-2 .content {padding:73px 279px 70px 114px; overflow: scroll;}
body.quiz .content {padding:73px 279px 70px 114px; overflow: scroll;}
body.progress .content {padding:73px 279px 0 114px; overflow: scroll;}
body.overview {background-color: #4A90E2; color: #FFF; text-align:center;width:1024px;}
body.answer-rationale {background-color: #94D150; color: #FFF; width:1024px; padding-top: 50px; }
.answer-rationale .title{color: #FFF}
body.transition-page {background-color:#fff;text-align:center;width:1024px; overflow: hidden;}
body.transition-page h1.alternate-title {font-family:'Roboto Slab', sans-serif; font-size: 36px; line-height: 48px; font-weight: 400;padding:16px 0;
background-color: #FBFBFB; color:#4A90E2; height: 92px;margin-bottom:0;}
.overview-content {min-height: 324px; height: inherit;}
.overview-content-body {background-color: #4A90E2;color: #FFF;}
.overview-content-body h2.subtitle {font-family: 'Roboto Slab', sans-serif; font-size: 44px; line-height: 58px; font-weight: 400; margin-top:44px}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
.overview-icon {width:39px;height:39px; margin-right:30px}

.practice .content {height:553px; font-family: 'Roboto Slab', sans-serif; font-size: 22px; line-height: 39px; font-weight: 300;z-index: 1000; position: relative;}
.progress .content {height:474px; font-family: 'Roboto'; font-size: 22px; line-height: 39px; font-weight: 300;}
.quiz .content {border-color:#307FE2; height: 553px;}
/* .learn .content {border-color:#767676} */
.overview .title {text-align:center; font-family: 'Roboto Slab', serif; font-size:40px; color:#fff;  margin-top:159px}
.title-only { margin:159px auto 237px; font-family: 'Roboto Slab', serif; font-size:40px}
.overview p {margin-top:30px}
.progress {border-radius: 6px; height: 5px; background-color: #D6D6D6;}
.progress.secondary .progress-meter {border-radius: 6px; background-color: #9D9D9D;}

.button.neutral {background-color: #FFF; color: #333333}
.button.neutral:hover {background-color: #EEE; color: #333}

.content-header {height: 40px; width: 160px;position:absolute; left:324px; top:0; font-family: "Roboto Slab"; font-size: 18px; line-height: 24px; text-align:center; color:#FFF}
.content-header-practice { background-color: #43B02A;left: 432px;padding-top: 6px;}
.content-header-quiz {background-color: #307FE2; padding-top:5px; left:432px}
.content-header-learn {left:432px; background-color: #43B02A; padding-top:5px;}
.learn .content-header-learn {top: 8px; left:440px; z-index:2000;    margin-bottom: 10px;}
.rationale-sidebar {height: 436px; width: 179.93px; border-radius: 5px; background-color: transparent; position:fixed; right: 32px; top:20px; 
	color: #4A4A4A; font-family: Roboto; font-size: 14px; line-height: 20px; padding-top: 41px; padding-left: 23px;
}
.hint-status {border-radius: 5px;	background-color: #FFE39D;}
.correct-status{border-radius: 5px;	background-color: #ADE9A0;}
.quiz .title {margin-top: 20px;}
.rationale-sidebar img.status {width:50px; margin-bottom:21px}

.hint-status:after {content: " ";
    position: absolute;
    top: 45%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgba(255,227,157,0.8) transparent transparent;

}

.correct-status:after {content: " ";
    position: absolute;
    top: 45%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent rgba(173,233,160,0.8) transparent transparent;
}

.rationale-icon, .hint-icon {transition: opacity 0.5s ease-in;}

.pagination-circular li.current {
  top: 3px;
  position: relative;
  border: 3px solid #F5F5F5;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 4px;
  background: transparent;
}

.pagination-circular li.answered {
  top: 2px;
  position: relative;
  border: 2px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 4px;
}

.pagination-circular li.disabled {
  border: 1px solid #cacaca;
  padding: 0.285em 0.8em;
  border-radius: 5000px;
  font-size: 4px;
}

.pagination-circular .question-bubble {
  border-radius: 5000px;
  font-size: 4px;
  box-sizing: border-box;
  height: 17px;
  width: 17px;
  border: 1px solid #F5F5F5;
  margin-right:12px;
}

.pagination-circular li:not(.disabled):hover a {
  background: #4A90E2;
  color: #fefefe;
}

.pagination-circular li a {
  transition: background 0.15s ease-in, color 0.15s ease-in;
}

.lesson-items {list-style-position: inside; display: table;}
ul.lesson-items > li {display:table-row;}
ul.lesson-items > li:before { content:"\2022\00a0 \00a0 \00a0"; font-size: 36px; vertical-align:top; display: table-cell; text-align: right; }
.lesson-items li {font-size: 24px; line-height: 45px;}
.button-row {margin-top:12rem}
.button {border-radius:6px;}
.button.success {color: #FFF}
.button.success:focus, .button.success:hover {color:#FFF}

/* invision */
.lesson-label {color: #FFF; margin-bottom: 0; font-size: 36px; line-height: 48px; padding-left: 0; text-align:center;font-family: 'Roboto Slab', serif;}
.title {font-family: 'Roboto Slab', serif; color: #4A4A4A; line-height:32px; font-size:24px;margin-bottom: 34px;}
.lesson-desc {font-size:24px; color:#4A4A4A; font-family: 'Roboto', sans-serif;font-weight:300; line-height:36px;margin-bottom: 23px;}
.lesson-copy, .lesson-copy mark {font-size:18px;color:#4A4A4A;font-family: 'Roboto Slab', serif; font-weight:300; line-height:29px;}
.label-type-icon {margin-right:20px;width:36px}
.inline-select {width:intrinsic;display:inline; margin-right:.5rem;border-radius: 6px;margin-bottom:0;}
.rationale {opacity:0}
.rationale h3 {color:#FFF; background-color:#00C016;width:100%; font-size: 24px; padding: 0 1.0rem}
.rationale p {font-size: 20px;}
mark.keyword {background-color: #FFF; border-width: 0; border-bottom: 1px solid gray; padding: 0 6px 0 6px;}
mark.keyword:hover {background-color: #DDEDFF;border-radius: 2px 2px 0 0;}
mark.keyword.selected {background-color: #BBDAFF; padding:0 20px 0 6px;border-radius: 2px 2px 0 0;}
mark.keyword.incorrect {background-color:#FFE8B2; border-color:#FED700;border-bottom: 1px solid #4A4A4A; padding-right: 0px;margin-right: 18px;border-radius: 2px 2px 0 0;}

mark.keyword.correct {background-color: #C7F9C7; border-color: #C7F9C7; border-bottom: 1px solid #4A4A4A; padding-right: 12px;}
input.question {margin: 0 .5rem 0 1.5rem; transform: scale(1.5);}
.incorrect .question, td.incorrect, label.radio.incorrect, .dropdown-question.filled.incorrect {background-color:#FBEB95}
.correct .question, td.correct, label.radio.correct, .dropdown-question.filled.correct {background-color:#C2F4C2}
.mc-input-box {position:absolute; left:-28px; padding-left: 10px; padding-right: 0;}
td.cm-col {border: 2px solid rgba(199,197,200, .4);}
table.grid-matrix td {position:relative}

.grid-matrix {width:795px;}
.grid-matrix td input {margin: 0.5rem 0 0.5rem; transform: scale(1.5);}
.grid-matrix th {font-size:12px; font-weight:500; 	font-family: "Roboto Slab"; height:32px; line-height: 16px;}
.grid-matrix td {font-family:'Roboto', sans-serif; font-size:16px; line-height: 20px; color:#4a4a4a; font-weight:400;}
.grid-matrix tr {min-height:32px}
.grid-matrix thead tr, table thead {background-color:transparent}
table tbody, table tfoot, table thead {border-width: 0}
table thead {border-bottom:2px solid rgba(199,197,200, .4);}
table.unstriped tbody tr {border-width:0}


input.question.incorrect:after {font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f00d"; position: relative;right: -.75rem; top:.2rem; color:#FED700; font-size:22px;}

label.select {display:inline}
label.radio, label.radio:after {display: inline-block; font-size: .875rem !important;}
select.question {width:12rem;font-family: 'Roboto', sans-serif;}
.footer {z-index:1002; padding-top:19px; height:80px;width:1008px;}
.footer hr {width:1024px; border-bottom-width:1px; margin:0;border-color:#979797}
.practice.learn .nonlearn-footer {position: absolute; bottom: 8px; height: 70px; left: 0; border-top: 1px solid #D3D3D3; padding-top:13px; background-color: #FFF;}
.practice .nonlearn-footer {position: absolute; bottom: 0; height: 70px; left: 0; border-top: 1px solid #D3D3D3; padding-top:13px; background-color: #FFF;}
.answer-rationale-reveal .footer {position:absolute; left:0}
.answer-rationale-reveal.incorrect {background-color: #7F7F7F; color: #FFF}
.answer-rationale-reveal.correct {background-color: #94D150; color: #FFF}

.button {border-radius:4px; width:138px;height:40px; font-family:'Roboto', san-serif; font-size:16px; color: #FFF;padding:10px;}
.button.check-disabled,.button.check-disabled:hover {	background-color: #D6D6D6;}

.button.check {background-color:#4A90E2; opacity:0.95}
.button.check:hover {color:#307FE2;background-color: #FFFFFF;border: 1px solid #407CBE;}
.button.check-verified {background-color:#4A90E2;}
.button.check-verified:hover {color:#307FE2;background-color: #FFFFFF;border: 1px solid #407CBE;}

.forward-button {padding:9px 4px 9px 8px;border-radius: 4px; font-size: 16px; font-family:Roboto Slab}
.forward-button.again {right: 410px; width: 175px;}
.forward-button.submit {left: 819px; width: 129px;}
.button-right-side {position: absolute;
    right: 442px;
    width: 140px;}
.button-right-side.next {right: 484px; width: 40px; padding:0}
/* .quiz .button-right-side {right: 42px;} */
.button-left-side {position:absolute; left:20px;width:40px; text-align: left}
.icon-on-left {margin-right: 3px}
.icon-on-right {margin-left: 3px}

.button.back-old {background-color: #C7C5C8; opacity:0.95;height:40px;border-radius:100%}
.button.back, .learn .back, .slide-btn-back {width:100px; color: #307FE2; background-color: transparent; font-family: "Roboto Slab"; font-size: 16px; line-height: 16px;}
.learn .learn-page-forward-button {width:140px;height:40px;border: 1px solid #407CBE; border-radius: 4px; background-color: #307FE2;}
.button.back:hover, .learn-page-forward-button:hover{opacity:1}

.learn-page-forward-button:hover{color:#307FE2;
	height: 40px;
	width: 140px;
	border: 1px solid #407CBE;
	border-radius: 4px;
	background-color: #FFFFFF;
}
body.practice.learn .content {padding: 45px 166px 0 166px; overflow: scroll;}
.learn .title-learn { height: 64px; width: 100%; color: #4A4A4A; font-family: "Roboto Slab"; 
	  		font-size: 24px; font-weight: 300; line-height: 32px; text-align: center; margin:24px auto 41px;
	  	}
.irony-description {
	height: 128px;
	width: 654px;
	color: #307FE2;
	font-family: Roboto;
	font-size: 24px;
	line-height: 38px;
	font-weight: 500;
	text-align: center;
}
.question-type-icon {position:absolute;padding-left:0; padding-right:0; text-align:right; top:77px; left:36px}
.correct-icon-element {position: absolute;right: 1.75rem; color: #00AA00;top: 20px;}
.incorrect-icon-element {position: absolute;right: 1.75rem; color: #FED700;top: 20px;}

p.mc-text {line-height: 20px; margin-left:33px} 
.mc-correct {color:#43B02A; font-weight:bold}
.mc-incorrect {color: #FED700; font-weight:bold}

.lesson-label.quiz {background-color:#70C216}
h2.lesson-label {font-family: 'Roboto', serif; font-weight: normal;}

/* dropdown */
.drop-down-drawer {height: 87px; padding-top:20px; background-color: #DBE7F6; width:1004px; display:none; position:relative; bottom: 97px;
    margin-left: 10px; margin-right: 10px; z-index:10000}
.dropdown-question {padding:7px 10px 9px;margin: 5px 0;min-width: 165px; text-align: left;
color: #000000;
    font-family: "Roboto Slab";
    font-size: 14px;
    line-height: 19px;
    border: 2px solid #407CBE;
    border-radius: 4px;
    background-color: #E7EDF5;
}
.dropdown-question.selected-dd, .dropdown-question.selected-dd:hover {border: 3px solid #4A90E2;padding:5px 10px;background-color:rgba(74,144,226,0.1);color:#8E8E8E;}
.dropdown-question:hover {border: 3px solid #407CBE; border-radius: 4px; background-color: #BBDBFF; color:#000; padding-top:6px; padding-left: 9px}
.dropdown-question.filled {border: 1px solid #4A90E2;background-color:rgba(74,144,226,0.1);color:#2D2D2D;width: max-content;}
.drop-down-drawer .button.answer-option {font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 1px solid #4A90E2;
    border-radius: 5px;
    background-color: #FFF; 
    color:#4A4A4A}
    
.drop-down-drawer .button.answer-option:hover {background-color: #EEF6FF;}
.drop-down-drawer .button.answer-option.selected-dd-response {border: 1px solid #A6B9CE;border-radius: 4px;background-color: #F3F3F3; color:#9B9B9B}
.button.answer-option{min-width:138px; width:initial}
/* end dropdown */	 

.point-value, .point-label {font-weight:300; color: #FFF; font-family:'Roboto Slab', sans-serif; font-size: 20px; line-height: 26px;}
.point-value {font-weight:bold}

.hint {display:none;position:absolute; z-index:1001; bottom: -15px;height:110px;background-color: #FDF8C2;padding-left:115px; 
	 width:1024px; padding-top:21px; color:#6C6C6C;font-size:16px;line-height:19px}
.hint-text{width:525px;font-size:16px;line-height:19px;display:none}
.hint-label {font-weight:bold; font-size:22px; line-height:29px; color:#E8CA00;margin-bottom:2px;}

.tooltip {border-radius: 4px; background-color: #4A90E2; box-shadow: 0 2px 8px 0 rgba(96,96,96,0.5); max-height:130px; max-width: 15rem;font-size: 16px;}
.tooltip.top::before, .tooltip.bottom::before  {border:none}
.has-tip {border:none}

.learn-page-title {color: #0845B5; font-family: "Roboto Slab"; font-size: 28px; font-weight: 300; line-height: 37px;margin-top:22px}
.hint-callout {position:fixed; left:808px; top:225px; height: 175px; width: 150px; border-radius: 4px; font-size:16px; line-height:19px; font-family:'Roboto'; font-weight:300; padding:10px; 
	color:#6C6C6C; background-color: #FBEB95; }
.rationale-callout {
	background-color: rgba(152,207,92,0.8);}
	
.callout {color: #575757;position:fixed; left:808px; top:225px; height: 175px; width: 180px; border-radius: 4px; font-size:16px; 
	line-height:19px; font-family:'Roboto'; font-weight:300; padding:10px; box-shadow: 0 2px 8px 0 rgba(96,96,96,0.5); display:none; border-width:0}

.rationale-callout:after {content: " ";
    position: absolute;
    top: 10%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgba(152,207,92,0.8) transparent transparent;
}

.hint-callout:after {content: " ";
    position: absolute;
    top: 10%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FBEB95 transparent transparent;
}

.rationale-icon {color: #98CF5C; position: relative; width: 30px; display: inline-block; border-radius: 100%; transform: scale(1.0); display:none;}
.rationale-icon:hover{color:#85B550}
.rationale-icon.pressed{ }
.hint-icon {position:relative; border-radius:100%;}
.hint-icon:hover {color:#D9CA18}
.hint-icon.pressed {}

.that-s-it {
	height: 49px;
	width: 90px;
	color: #3E7304;
	font-family: "Roboto Slab";
	font-size: 22px;
	line-height: 29px;
	border-bottom: 1px solid #43B02A;
}

.nearly-there {
	height: 80px;
	width: 125px;
	color: #4A4A4A;
	font-family: "Roboto Slab";
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	border-bottom: 1px solid #FF6900;
}

.split-pane-left {width: 420px;	color: #4A4A4A;	font-family: Roboto;	font-size: 16px;	font-weight: 300;	line-height: 19px;}
.upper-right-close {position:absolute;right:3px; top:3px;}
.point-quiz-board  { text-align:center; color: #FFF; height: 40px; width: 128px; background-color: #43B02A; position: absolute;font-family: "Roboto Slab";	font-size: 16px;	line-height: 21px;
    left: 484px; padding-top:5px;top: 0;}
    
.grid-matrix tr:hover {	background-color: rgba(74,144,226,0.08)}
.speaker {position:absolute; left:65.0px; top: 54px; width: 20px;}


.display-none {display:none}

.fade50 {opacity:0.5}

.answer-hint-btn {
	height: 40px;
	width: 140px;
	border: 2px solid #FFFFFF;
	border-radius: 4px;
	background-color: #307FE2;color: #FFFFFF;
	font-family: "Roboto Slab";	font-size: 14px;	line-height: 21px;	text-align: center;
	display:inline-block;
	position: absolute;
	bottom:18px;
	padding-top:6px;
}

a.answer-hint-btn:hover {color: #FFFFFF;}

.disabled-dd {cursor: not-allowed}
/* learn pages */

 .slide-2, .slide-3, .slide-4, .slide-5, .slide-6, .slide-7,.slide-8 {display:flex; height:400px}
.learn .what-is-example {color: #4A4A4A; font-family: Roboto; font-size: 20px; text-align: left; line-height: 28px; font-weight:500}
.learn .reason-for-example {color: #4A4A4A;	font-family: Roboto; font-size: 14px; font-weight: 300;	line-height: 20px; text-align: center;}
.learn .content, .expanded.content {height: 554px} /*554px*/

.slide-btn {height: 64px; margin:0 auto;cursor:pointer;position: relative; }
.slide-btn:hover {top:3px}

.content-2 {display:none}
.why-lesson .slide-4 .image-holder,.why-lesson .slide-5 .image-holder, .slide-5 .image-holder, .slide-6 .image-holder  {width:300px;display:inline-block}
.why-lesson .slide-4 .image-holder img,.why-lesson .slide-5 .image-holder img,  .slide-6 .image-holder img, .slide-6 .image-holder img {width:300px}
.why-lesson .slide-4 .content-example-holder,.why-lesson .slide-5 .content-example-holder, .slide-6 .content-example-holder {width:300px;display:inline-block;margin-left:25px; padding-top:50px}
.why-lesson .slide-4 .reason-for-example, .why-lesson .slide-5 .reason-for-example {padding-left:75px;margin-top:10px}

.learn-page-2 .slide-3, .learn-page-2 .slide-4, .learn-page-2 .slide-5, .learn-page-2 .slide-5, .learn-page-2 .slide-6 {padding-top:75px}
.learn-page-2 .image-holder {width:300px;display:inline-block; position: relative}
.learn-page-2 .image-holder img {width:300px}
.learn-page-2 .content-example-holder {width:320px;display:inline-block;margin-left:25px; padding-top:30px; text-align:left;height: 140px;}
.learn-page-2 .reason-for-example {padding-left:75px;margin-top:10px}

.learn-page-3 .slide-1 {height:400px;display:block}
.learn-page-3 .slide-2 {padding-top:50px}
.learn-page-3 .image-holder {width:300px;display:inline-block}
.learn-page-3 .image-holder img {width:300px}
.learn-page-3 .content-example-holder {width:300px;display:inline-block;margin-left:25px; padding-top:40px}
.learn-page-3 .reason-for-example {margin-top:60px}

.learn-page-4 .slide-1 {height:400px;display:block}
.learn-page-4 .image-holder {width:300px;display:inline-block;padding-left:50px}
.learn-page-4 .image-holder img {width:230px}
.learn-page-4 .content-example-holder {width:300px;display:inline-block;margin-left:25px; padding-top:70px}
.learn-page-4 .reason-for-example {margin-top:0px}

.learn-page-5 .slide-1 {height:400px;display:block}
.learn-page-5 .image-holder {width:300px;display:inline-block}
.learn-page-5 .image-holder img {width:300px}
.learn-page-5 .content-example-holder {width:300px;display:inline-block;margin-left:25px; padding-top:30px}
.learn-page-5 .reason-for-example {margin-top:30px}
.learn .slide-btn-box {width:100%;text-align:center}

 .slide-7 {margin-top: 0px}
 .slide-5 {margin-top:0px}
 .slide-4, .slide-6 {margin-top:0px}
 .slide-btn-back {position:absolute; left: -153px; top: 17px;} 
 .slide-btn-main {position:absolute; 
    height: 40px;
    width: 40px;
	color: #FFF;
	left: 327px;
}

.num-questions-remaining {right:32px;color: #58595B; font-family: Roboto; font-size: 16px; line-height: 19px; text-align: right;position: absolute; top: 25px;}
.quiz-status {right:32px;color: #58595B; font-family: Roboto; font-size: 16px; line-height: 19px; text-align: right;position: absolute;    top: 16px;}
.content-borderless {position: relative;height: 553px; overflow: hidden;border: 8px solid #ECECEC}
.learn .content-borderless {border-color:#43B02A}
.learn.why-lesson .content-borderless{border-color:#ECECEC}
.content-borderless-window {position: relative}
.practice .content {border: 8px solid #43B02A}
.quiz .content {border: 8px solid #307FE2}
.learn .content {border-width:0}

.question-scroller {height:375px; overflow:scroll}
.practice.fixed-body { height: 553px;    overflow: hidden;   position: relative;}
.practice.fixed-body .footer {left:8px !important; bottom:8px !important;}
.learn-footer {width: 1008px; margin: 0 auto; text-align: center; position: absolute; bottom: 13px;height: 70px; left: 0; border-top: 1px solid #D3D3D3; padding-top:13px}	  	
	 