@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

body.practice, body.progress {background-color: #FFF; color: #4A4A4A; font-family: 'Roboto', sans-serif; 
	width:1024px;  position:relative;margin-right: 0;height:554px; overflow:none;}
body.practice {position: inherit}
body.practice .content {padding:36px 272px 0 114px; overflow: scroll;}
body.progress .content {padding:36px 272px 0 114px; overflow: scroll;}
body.overview {background-color: #4A90E2; color: #FFF; text-align:center;width:1024px;}
body.answer-rationale {background-color: #94D150; color: #FFF; width:1024px; padding-top: 50px; }
.answer-rationale .title{color: #FFF}
body.transition-page {background-color:#fff;text-align:center;width:1024px; overflow: hidden;}
body.transition-page h1.alternate-title {font-family:'Roboto Slab', sans-serif; font-size: 36px; line-height: 48px; font-weight: 400;padding:16px 0;
background-color: #FBFBFB; color:#4A90E2; height: 92px;margin-bottom:0;}
.overview-content {min-height: 324px; height: inherit;}
.overview-content-body {background-color: #4A90E2;color: #FFF;}
.overview-content-body h2.subtitle {font-family: 'Roboto Slab', sans-serif; font-size: 44px; line-height: 58px; font-weight: 400; margin-top:44px}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
.overview-icon {width:39px;height:39px; margin-right:30px}

.practice .content {height:474px; font-family: 'Roboto Slab', sans-serif; font-size: 22px; line-height: 39px; font-weight: 300;z-index: 1000; position: relative; border: 10px solid #43B02A;}
.progress .content {height:494px; font-family: 'Roboto'; font-size: 22px; line-height: 39px; font-weight: 300;}
.quiz .content {border-color:#307FE2}
.overview .title {text-align:center; font-family: 'Roboto Slab', serif; font-size:40px; color:#fff;  margin-top:159px}
.title-only { margin:159px auto 237px; font-family: 'Roboto Slab', serif; font-size:40px}
.overview p {margin-top:30px}
.progress {border-radius: 6px; height: 5px; background-color: #ECECEC;}
.progress.secondary .progress-meter {border-radius: 6px; background-color: #9D9D9D;}

.button.neutral {background-color: #FFF; color: #333333}
.button.neutral:hover {background-color: #EEE; color: #333}

.content-header {height: 40px; width: 160px;position:absolute; left:324px; top:0; font-family: "Roboto Slab"; font-size: 18px; line-height: 24px; text-align:center; color:#FFF}
.content-header-practice { background-color: #43B02A;}
.content-header-quiz {background-color: #307FE2;}
.rationale-sidebar {height: 436px; width: 172.93px; border-radius: 5px; background-color: #ECECEC; position:fixed; right:22px; top:20px}



.pagination-circular li.current {
  top: 3px;
  position: relative;
  border: 3px solid #F5F5F5;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 4px;
  background: transparent;
}

.pagination-circular li.answered {
  top: 2px;
  position: relative;
  border: 2px solid #F5F5F5;
  background-color: #F5F5F5;
  border-radius: 5000px;
  padding: 0.285em 0.8em;
  font-size: 4px;
}

.pagination-circular li.disabled {
  border: 1px solid #cacaca;
  padding: 0.285em 0.8em;
  border-radius: 5000px;
  font-size: 4px;
}

.pagination-circular .question-bubble {
  border-radius: 5000px;
  font-size: 4px;
  box-sizing: border-box;
  height: 17px;
  width: 17px;
  border: 1px solid #F5F5F5;
  margin-right:12px;
}

.pagination-circular li:not(.disabled):hover a {
  background: #4A90E2;
  color: #fefefe;
}

.pagination-circular li a {
  transition: background 0.15s ease-in, color 0.15s ease-in;
}

.lesson-items {list-style-position: inside; display: table;}
ul.lesson-items > li {display:table-row;}
ul.lesson-items > li:before { content:"\2022\00a0 \00a0 \00a0"; font-size: 36px; vertical-align:top; display: table-cell; text-align: right; }
.lesson-items li {font-size: 24px; line-height: 45px;}
.button-row {margin-top:12rem}
.button {border-radius:6px;}
.button.success {color: #FFF}
.button.success:focus, .button.success:hover {color:#FFF}

/* invision */
.lesson-label {color: #FFF; margin-bottom: 0; font-size: 36px; line-height: 48px; padding-left: 0; text-align:center;font-family: 'Roboto Slab', serif;}
.title {font-family: 'Roboto Slab', serif; color: #4A4A4A; line-height:36px; font-size:24px;margin-bottom: 34px;}
.lesson-desc {font-size:24px; color:#4A4A4A; font-family: 'Roboto', sans-serif;font-weight:300; line-height:36px;margin-bottom: 23px;}
.lesson-copy, .lesson-copy mark {font-size:20px;color:#4A4A4A;font-family: 'Roboto Slab', serif; font-weight:300; line-height:22px;}
.label-type-icon {margin-right:20px;width:36px}
.inline-select {width:intrinsic;display:inline; margin-right:.5rem;border-radius: 6px;margin-bottom:0;}
.rationale {opacity:0}
.rationale h3 {color:#FFF; background-color:#00C016;width:100%; font-size: 24px; padding: 0 1.0rem}
.rationale p {font-size: 20px;}
mark.keyword {background-color: #FFF; border-width: 0; border-bottom: 2px solid gray; padding: 0 6px 0 6px;}
mark.keyword:hover {background-color: #DDEDFF;border-radius: 2px 2px 0 0;}
mark.keyword.selected {background-color: #BBDAFF; padding:0 20px 0 6px;border-radius: 2px 2px 0 0;}
mark.keyword.incorrect {background-color:#C2B25C; border-color:#FED700;border-bottom: 2px solid #4A4A4A; padding-right: 12px;border-radius: 2px 2px 0 0;}

mark.keyword.correct {background-color: #C7F9C7; border-color: #C7F9C7; border-bottom: 2px solid #4A4A4A; padding-right: 12px;}
input.question {margin: 0 .5rem 0 1.5rem; transform: scale(1.5);}
.incorrect .question, td.incorrect, label.radio.incorrect, .dropdown-question.filled.incorrect {background-color:#FBEB95}
.correct .question, td.correct, label.radio.correct, .dropdown-question.filled.correct {background-color:#C2F4C2}
.mc-input-box {position:absolute; left:-25px; padding-left: 10px; padding-right: 0;}
table, th, td {
   border: 2px solid rgba(199,197,200, .4);
}
table.grid-matrix td {position:relative}
.grid-matrix {width:795px;}
.grid-matrix td input {margin: 0.5rem 0 0.5rem; transform: scale(1.5);}
.grid-matrix th {font-size:18px; font-weight:500; font-family: 'Roboto', sans-serif; height:32px;line-height: 25px;}
.grid-matrix td {font-family:'Roboto', sans-serif; font-size:18px; line-height: 25px; color:#4a4a4a; font-weight:400;}
.grid-matrix tr {min-height:32px}
.grid-matrix thead tr {background-color:#ECECEC}


input.question.incorrect:after {font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f00d"; position: relative;right: -.75rem; top:.2rem; color:#FED700; font-size:22px;}

label.select {display:inline}
label.radio, label.radio:after {display: inline-block; font-size: .875rem !important;}
select.question {width:12rem;font-family: 'Roboto', sans-serif;}
.footer {z-index:1002; padding-top:19px; height:80px;width:1024px;background-color: transparent;}
.footer hr {width:1024px; border-bottom-width:1px; margin:0;border-color:#979797}
/*.footer div {margin: 0 114px}*/
.answer-rationale-reveal .footer {position:absolute; left:0}
.answer-rationale-reveal.incorrect {background-color: #7F7F7F; color: #FFF}
.answer-rationale-reveal.correct {background-color: #94D150; color: #FFF}

.button {border-radius:4px; width:138px;height:40px; font-family:'Roboto', san-serif; font-size:18px; color: #FFF;padding:10px;}
.button.check-disabled,.button.check-disabled:hover {background-color:#4A90E2; opacity:0.30}

.button.check {background-color:#4A90E2; opacity:0.95}
.button.check:hover {background-color:#4A90E2; opacity:1.0}
.button.check-verified {background-color:#4A90E2;opacity:0.95}
.button.check-verified:hover {background-color:#4A90E2;opacity:1.0}

.forward-button {padding:9px 4px 9px 8px;border-radius: 4px 20px 20px 4px; font-size: 20px; font-family:Roboto Slab}
.forward-button.again {left: 780px; width: 175px;}
.forward-button.submit {left: 819px; width: 129px;}
.button-right-side {position: absolute;
    right: 32px;
    width: 140px;}
.button-left-side {position:relative; left:32px;width:40px}

.button.back {background-color: #C7C5C8; opacity:0.95;height:40px;border-radius:100%}
.button.back:hover, .learn-page-forward-button:hover{opacity:1}
.learn-page-forward-button {background-color: #43B02A; opacity:0.95;height:40px; width:40px; left: 910px; border-radius:100%; padding-top:2px]}
.learn-page-forward-button:hover{background-color: #43B02A;}

.question-type-icon {position:absolute;padding-left:0; padding-right:0; text-align:right; top:77px; left:36px}
.correct-icon-element {position: absolute;right: 1.75rem; color: #00AA00;top: 20px;}
.incorrect-icon-element {position: absolute;right: 1.75rem; color: #FED700;top: 20px;}

p.mc-text {line-height: 31px; margin-left:33px} 
.mc-correct {color:#43B02A; font-weight:bold}
.mc-incorrect {color: #FED700; font-weight:bold}

.lesson-label.quiz {background-color:#70C216}
h2.lesson-label {font-family: 'Roboto', serif; font-weight: normal;}

/* dropdown */
.drop-down-drawer {height: 87px; padding-top:20px; background-color: #DBE7F6; width:100%; display:none; position:fixed; bottom:0; z-index:10000}
.dropdown-question {background-color:rgba(74,144,226,0.1);border: 1px solid #4A90E2; color:#8E8E8E;border-radius: 4px; font-family:Roboto; font-size: 22px; line-height: 25px; padding:7px 10px 9px;margin: 5px 0;min-width: 220px;}
.dropdown-question.selected-dd, .dropdown-question.selected-dd:hover {border: 3px solid #4A90E2;padding:5px 10px;background-color:rgba(74,144,226,0.1);color:#8E8E8E;}
.dropdown-question:hover {border: 1px solid #4A90E2;background-color:rgba(74,144,226,0.1);color:#8E8E8E;}
.dropdown-question.filled {border: 1px solid #4A90E2;background-color:rgba(74,144,226,0.1);color:#2D2D2D;width: max-content;}
.drop-down-drawer .button.answer-option {background-color:#FFFFFF;border: 1px solid #4A90E2;height: 39px;border-radius: 4px; color:#4A4A4A; font-size:22px; line-height:25px}
.drop-down-drawer .button.answer-option.selected-dd-response {border: 1px solid #A6B9CE;border-radius: 4px;background-color: #F3F3F3; color:#9B9B9B}
.button.answer-option{min-width:138px; width:initial}
/* end dropdown */	 

.point-value, .point-label {font-weight:300; color: #FFF; font-family:'Roboto Slab', sans-serif; font-size: 20px; line-height: 26px;}
.point-value {font-weight:bold}

.hint {display:none;position:absolute; z-index:1001; bottom: -15px;height:110px;background-color: #FDF8C2;padding-left:115px; 
	 width:1024px; padding-top:21px; color:#6C6C6C;font-size:16px;line-height:19px}
.hint-text{width:525px;font-size:16px;line-height:19px;display:none}
.hint-label {font-weight:bold; font-size:22px; line-height:29px; color:#E8CA00;margin-bottom:2px;}

.tooltip {border-radius: 4px; background-color: #4A90E2; box-shadow: 0 2px 8px 0 rgba(96,96,96,0.5); max-height:130px; max-width: 15rem;font-size: 16px;}
.tooltip.top::before, .tooltip.bottom::before  {border:none}
.has-tip {border:none}

.learn-page-title {color: #0845B5; font-family: "Roboto Slab"; font-size: 28px; font-weight: 300; line-height: 37px;margin-top:22px}
.hint-callout {position:fixed; left:808px; top:225px; height: 175px; width: 150px; border-radius: 4px; font-size:16px; line-height:19px; font-family:'Roboto'; font-weight:300; padding:10px; 
	color:#6C6C6C; background-color: #FBEB95; }
.rationale-callout {
	background-color: rgba(152,207,92,0.8);}
	
.callout {color: #575757;position:fixed; left:808px; top:225px; height: 175px; width: 180px; border-radius: 4px; font-size:16px; 
	line-height:19px; font-family:'Roboto'; font-weight:300; padding:10px; box-shadow: 0 2px 8px 0 rgba(96,96,96,0.5); display:none; border-width:0}

.rationale-callout:after {content: " ";
    position: absolute;
    top: 10%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent rgba(152,207,92,0.8) transparent transparent;
}

.hint-callout:after {content: " ";
    position: absolute;
    top: 10%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #FBEB95 transparent transparent;
}

.rationale-icon {color: #98CF5C; position: relative; background-color: #4A4A4A; border-radius: 100%;cursor:pointer; transform: scale(1.0);}
.rationale-icon:hover{color:#85B550}
.rationale-icon.pressed{color:#85B550; box-shadow: 0px 0px 6px 1px #ABABAB;}
.hint-icon {background-color:#4A4A4A; color: #F8E71C;position:relative; border-radius:100%;cursor:pointer}
.hint-icon:hover {color:#D9CA18}
.hint-icon.pressed {color:#D9CA18;box-shadow: 0px 0px 1px 1px #4a4a4a}

.that-s-it {
	height: 29px;
	width: 90px;
	color: #3E7304;
	font-family: "Roboto Slab";
	font-size: 22px;
	line-height: 29px;
}

.nearly-there {
	height: 29px;
	width: 135px;
	color: #D48504;
	font-family: "Roboto Slab";
	font-size: 22px;
	line-height: 29px;
}